/* Only Needed Styles */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter',sans-serif;
}

.forgot-page{
    min-height:100vh;
}

.forgot-card{
    transition:.3s ease;
}

.forgot-card input:-webkit-autofill{
-webkit-box-shadow:0 0 0 1000px white inset !important;
-webkit-text-fill-color:#111 !important;
}